<!DOCTYPE html>
<html ng-app="mainApp">
<head>
    <title><%=title%></title>

    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="description" content="Lets start counting everything that counts to you. <%-blocks.metaDescription%>">

    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Unica+One' rel='stylesheet' type='text/css'>

    <!--styles-->
    <link rel="stylesheet" href="app/styles/dist/base.css" type="text/css">
    <link rel="stylesheet" href="app/styles/dist/pages.css" type="text/css">
    <!--<link rel="stylesheet" href="app/styles/dist/components.css" type="text/css">-->

    <!--page specific-->
    <%-stylesheets%>

</head>
<body>

<div ng-controller="<%=ngPageController%>" class="<%=cssPageIdentifier%>">
    <%-body -%>
</div>

<footer>
    -
</footer>

<!--dependencies-->
<script src="app/lib/Countree.js"></script>
<script src="app/lib/jquery.js"></script>
<script src="app/lib/angular.js"></script>

<!--components-->
<script src="app/components/counter/counterComp.js"></script>
<script src="app/components/notification-bar/notificationBarComp.js"></script>
<script src="app/components/quick-counter-settings-popup/quickCounterSettingsPopupComp.js"></script>

<!--services-->
<script src="app/services/countAreaResizeService.js"></script>
<script src="app/services/detailCounterService.js"></script>

<!--main app-->
<script src="app/mainApp.js"></script>
<%-scripts%>

</body>
</html>